main > section > form  {
  display: grid;
  border: none;
}

main > section > form  > label:not(:first-of-type) {
  margin-top: 0.8em;
}

main > section > form  > label {
  font-size: 0.8em;
}

main > section > form  > input:not([type='submit']) {
  border: none;
  font-size: 0.95em;
  background-color: white;
}

main > section > form > input[type='submit'] {
  width: max-content;
  margin-top: 0.8em;
}

main > section > form  > textarea {
  vertical-align:  baseline;
  background-color: whitesmoke;
}

main > section > form > input[type='text']:read-only {
      outline: none !important;
}